body {
  text-align: center;
  background-color: rgb(238, 238, 238);
}
.signIn {
  background-color: green;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.signUp {
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.signUpPage input {
  width: 50%;
  padding: 10px;
}
.signUpPage p {
  color: rgb(208, 0, 0);
}
.signUpPage button {
  width: 50%;
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.signInPage input {
  width: 50%;
  padding: 10px;
}
.signInPage p {
  color: rgb(210, 2, 2);
}
.signInPage button {
  width: 50%;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.flex {
  display: flex;
}
.leftSide {
  flex: 20%;
  background-color: rgb(0, 0, 107);
  text-align: left;
}
.leftSide button {
  border: none;
  background-color: rgb(0, 0, 107);
  color: white;
  cursor: pointer;
  padding: 10px;
}
.rightSide {
  flex: 80%;
  text-align: left;
  padding: 20px;
}
.rightSide div {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.rightSide button {
  background-color: rgb(192, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.rightSide .newRecipePage input {
  width: 90%;
  padding: 10px;
}
.rightSide .newRecipePage textarea {
  width: 90%;
  padding: 10px;
  height: 30%;
}
.rightSide .searchRecipesPages {
  border: none;
}
.rightSide .searchRecipesPages input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.rightSide .searchRecipesPages div {
  width: 90%;
}
